*
*/

!.gitignore
!*/

!/.github
!/.github/**

!Cargo.toml
!Cargo.lock
!src/
!src/**

!/crates
!/crates/*
!/crates/*/src
!/crates/*/src/**
!/crates/*/Cargo.toml
!/crates/*/Cargo.lock

!/assets
!/assets/**